# Stardust full TRE set -- searchTree load order (highest priority first)
# Server: MMOCoreORB/bin/conf/config.lua TreFiles uses this same order.
# Generated 2026-06-16
searchTree_00=stardust_s.tre
searchTree_01=stardust_03.tre
searchTree_02=stardust_02.tre
searchTree_03=stardust_01.tre
searchTree_04=mtg_patch_022.tre
searchTree_05=mtg_planets.tre
searchTree_06=mtg_patch_021.tre
searchTree_07=mtg_patch_019.tre
searchTree_08=mtg_patch_018.tre
searchTree_09=mtg_patch_017.tre
searchTree_10=mtg_patch_016.tre
searchTree_11=mtg_patch_015.tre
searchTree_12=mtg_patch_014.tre
searchTree_13=mtg_patch_013_configurable_02.tre
searchTree_14=mtg_patch_012_configurable_01.tre
searchTree_15=mtg_patch_011_files_01.tre
searchTree_16=mtg_patch_010_object_01.tre
searchTree_17=mtg_patch_009_Shader_01.tre
searchTree_18=mtg_patch_008_texture_04.tre
searchTree_19=mtg_patch_007_texture_03.tre
searchTree_20=mtg_patch_006_texture_02.tre
searchTree_21=mtg_patch_005_texture_01.tre
searchTree_22=mtg_patch_004_appearance_04.tre
searchTree_23=mtg_patch_003_appearance_03.tre
searchTree_24=mtg_patch_002_appearance_02.tre
searchTree_25=mtg_patch_001_appearance_01.tre
